*.pyc
__pycache__
EQPROCE/
node_modules
package.json
package-lock.json
/data/info/CSNPZ
/data/info/CSNPZ_2016/
/data/isotraces
/data/rawtraces
*.info
output/
shapefiles/
LOG.INFO
DATA/
programs/
TODO.md
JointInv.egg-info/
