*.pyc
*.mseed
*.SAC
*.SAC[rs]
*.sac
*.png
__pycache__
EQPROCE/
node_modules
package.json
package-lock.json
/data/Info/CSNPZ
/data/Info/CSNPZ_2016/
/data/Info/Responses/
/data/Isotraces/
/data/Rawtraces/
/data/ContinueTrace/
/data/Configs/
/data/RawTraces_backup/
*.info
output/
shapefiles/
LOG.INFO
DATA/
programs/
TODO.md
JointInv.egg-info/
tests/
